.RegistrationApp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68%;
  width: 91%;
  margin-top: 30px;
  background-color: white
}

.registrationForm {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #d9e8ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.formRow {
  display: flex;
  justify-content: space-between;
}

.Field {
  flex: 1;
  margin-right: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

input[type="date"] {
  width: calc(100% - 20px);
}

input[type="password"] {
  margin-bottom: 10px;
}

.FieldError {
  color: #ff4d4f;
  font-size: 14px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  margin-top:12px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}